p{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
text-align: left;
}
body{
    background-color:#000000;
}
.navbar {
display: block;
padding: 30px;
background-color:#FFB6C1;

}