p{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
text-align: left;
margin: 10px 10px;
}
body{
    background-color:#FFF8F9;
}
.navbar{
display: flex;
justify-content: space-around;
padding: 15px 0;
background-color:#FFB6C1;
}
/*.navbar:hover {
    background-color: #FFFFFF;
}*/


ul{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    font-size: 15px;
    text-align: left;
    padding: 10px;
}
ul:hover{
    background-color: #FFFFFF;
}
a{
    text-decoration: none;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    color: #000000;
}
h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #000000;
}



.Typographic-Systems-image-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
    border: 5px solid #FFB6C1;
}
.Typographic-Systems-image-container:hover{
    border: 5px solid #000000;
}
.Typographic-Systems-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Typographic-Systems-image-container button { /* reference chatGPT*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*reference chat GPT*/
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #000000;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;  
}
.Typographic-Systems-image-container button:hover {
background-color: #FFB6C1;
color: #FFFFFF;
}
.Typographic-Systems-image-container button:active {
    background-color: #32a431;
    color:#000000;
    box-shadow: 5px 5px #FFB6C1; 
}

.typography-group {
    width: 600px;
}
.CARP-Project-image-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
    border: 5px solid #FFB6C1;
}
.CARP-Project-image-container:hover{
    border: 5px solid #000000;
}

.CARP-Project-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.CARP-Project-image-container button { /* reference chatGPT*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*reference chat GPT*/
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #000000;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;  
}
.CARP-Project-image-container button:hover {
background-color: #FFB6C1;
color: #FFFFFF;
}
.CARP-Project-image-container button:active {
    background-color: #32a431;
    color:#000000;
    box-shadow: 5px 5px #FFB6C1; 
}


.Coding-Worksheets-image-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
    border: 5px solid #FFB6C1;
}
.Coding-Worksheets-image-container:hover{
    border: 5px solid #000000;
}

.Coding-Worksheets-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Coding-Worksheets-image-container button { /* reference chatGPT*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*reference chat GPT*/
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #000000;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;  
}
.Coding-Worksheets-image-container button:hover {
background-color: #FFB6C1;
color: #FFFFFF;
}
.Coding-Worksheets-image-container button:active {
    background-color: #32a431;
    color:#000000;
    box-shadow: 5px 5px #FFB6C1; 
}

.Coding-Worksheets-group{
     width: 600px;
}

.Report-image-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;
    border: 5px solid #FFB6C1;
}

.Report-image-container:hover{
    border: 5px solid #000000;
}
.Report-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Report-image-container button { /* reference chatGPT*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*reference chat GPT*/
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #000000;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;  
}
.Report-image-container button:hover {
background-color: #FFB6C1;
color: #FFFFFF;
}
.Report-image-container button:active {
    background-color: #32a431;
    color:#000000;
    box-shadow: 5px 5px #FFB6C1; 
}

.report-container{
    display: flex;
    justify-content: center;
    padding: 60px;
    text-align: left;
    background-color: #FFB6C1;
}

.report-type-container{
    display: flex;
    justify-content: left;
    padding: 0px;
    text-align: left;
    background-color: #FFB6C1;
}

button{
    border: 1px solid #FFFFFF;
    background-color: #000000;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #FFFFFF;
    padding: 10px;
    margin: 2px;
    transition-duration: .4s;  
}

button:hover {
   background-color: #FFFFFF;
   color:#000000;
}

button:active {
    background-color: #32a431;
    color:#000000;
    box-shadow: 5px 5px #000000;
}

footer {
    background-color: #FFB6C1;
    height: 25px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: #000000;
    padding: 10px 0px;
}
hr {
    border: 3px solid #FFB6C1;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
    
 
    
    
    .text-caption {
        background-color: #FFB6C1;
        width: 600px;
        height: 400px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        text-align: left;
        margin: 2px 2px;
      
    }
    
    .text-caption:hover {
        background-color: #FFB6C1;
        opacity: 0.7;
        width: 600px;
        height: 400px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        text-align: left;
        margin: 2px 2px;
    }

 .image-container{
        border: 1px solid #000000;
        width: 600px;
        height: 600px;
        margin-bottom: 10px;
    }

    .image-container:hover{
        border: 1px solid #FFB6C1;
        width: 600px;
        height: 600px;
        margin-bottom: 10px;
    }
    
 .text-container{
        background-color: #FFB6C1;
        width: 275px;
        height: 200px;
        padding: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-top: 10px;
    }

.CARP-page-gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
    
    
.image-container-CARP{
        border: 1px solid #000000;
        width: 400px;
        height: 600px;
        padding: 4px;
    }

.image-container-CARP:hover{
    border: 1px solid #FFB6C1;
    width: 400px;
    height: 600px;
    padding: 4px;
}
    
    
.CARP-page-text-image-container{
        background-color: #FFB6C1;
        width: 400px;
        height: 200px;
        padding: 4px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

.final-CARP-page-image-container{
    border: 1px solid #000000;
    width: 600px;
    height: 800px;
    padding: 4px;
}

.final-CARP-page-image-container:hover{
    border: 1px solid #FFB6C1;
    width: 600px; 
    height: 800px;
    padding: 4px;
}

.final-CARP-page-text-image-container{
    background-color: #FFB6C1;
    width: 600px;
    height: 200px;
    padding: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.CARP-group {
    width: 400px;
}

.text-caption-CARP {
    background-color: #FFB6C1;
    width: 400px;
    height: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 2px 2px;
}

.text-caption-CARP:hover{
    background-color: #FFB6C1;
    opacity: 0.7;
    width: 400px;
    height: 600px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 2px 2px;
}
.text-caption-big-CARP{
    background-color: #FFB6C1;
    width: 600px;
    height: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 10px 10px;
}